In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import KFold,cross_val_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import plot_confusion_matrix
from sklearn.ensemble import RandomForestRegressor

In [2]:
cric=pd.read_csv("cricket.csv")
x=cric
x

,Team,Opponent,Format,Ground,Year,Toss,Selection,Run Scored,Wicket Lost,Fours,Sixes,Extras,Run Rate,Avg Bat Strike Rate,Highest Score,Wicket Taken,Given Extras,Highest Individual wicket,Player Of The Match,Result
0,Pakistan,Sri Lanka,ODI,Sharjah,1984,Lose,Batting,187.0,9.0,9.0,3.0,21.0,4.06,52.04,47.0,5.0,26.0,2.0,Roy Dias,Lose
1,Sri Lanka,Pakistan,ODI,Sharjah,1984,Win,Bowling,190.0,5.0,11.0,1.0,26.0,4.36,68.51,57.0,9.0,21.0,3.0,Roy Dias,Win
2,India,Sri Lanka,ODI,Sharjah,1984,Win,Bowling,97.0,0.0,9.0,0.0,14.0,4.47,60.48,51.0,10.0,8.0,3.0,Surinder Khanna,Win
3,Sri Lanka,India,ODI,Sharjah,1984,Lose,Batting,96.0,10.0,7.0,0.0,8.0,2.34,25.74,38.0,0.0,14.0,0.0,Surinder Khanna,Lose
4,India,Pakistan,ODI,Sharjah,1984,Win,Batting,188.0,4.0,13.0,3.0,17.0,4.08,60.21,56.0,10.0,5.0,3.0,Surinder Khanna,Win
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,India,Afghanistan,T20I,Dubai(DSC),2022,Lose,Batting,212.0,2.0,21.0,9.0,2.0,10.60,194.05,122.0,8.0,3.0,5.0,Virat Kohli,Win
250,Pakistan,Sri Lanka,T20I,Dubai(DSC),2022,Lose,Batting,121.0,10.0,4.0,3.0,17.0,6.31,58.78,30.0,5.0,5.0,2.0,Wanindu Hasaranga de Silva,Lose
251,Sri Lanka,Pakistan,T20I,Dubai(DSC),2022,Win,Bowling,124.0,5.0,9.0,5.0,5.0,7.29,111.50,55.0,10.0,17.0,3.0,Wanindu Hasaranga de Silva,Win
252,Pakistan,Sri Lanka,T20I,Dubai(DSC),2022,Win,Bowling,147.0,10.0,9.0,4.0,14.0,7.35,99.38,55.0,6.0,10.0,3.0,Bhanuka Rajapaksa,Lose
253,Sri Lanka,Pakistan,T20I,Dubai(DSC),2022,Lose,Batting,170.0,6.0,16.0,5.0,10.0,8.50,90.86,71.0,10.0,14.0,4.0,Bhanuka Rajapaksa,Win

In [3]:
def convert_to_number(df): 
    i=1
    j=0
    for col in df:
        i=1
        for name in df[str(col)].unique():
            df[str(col)]=df[str(col)].replace(name,str(i))
            i+=1
            j+=1
    df.astype(float)
convert_to_number(x)
x

,Team,Opponent,Format,Ground,Year,Toss,Selection,Run Scored,Wicket Lost,Fours,Sixes,Extras,Run Rate,Avg Bat Strike Rate,Highest Score,Wicket Taken,Given Extras,Highest Individual wicket,Player Of The Match,Result
0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1,2,2,1,1,1,2,2,2,2,2,2,2,2,2,2,2,2,2,1,2
2,3,1,1,1,1,2,2,3,3,1,3,3,3,3,3,3,3,2,2,2
3,2,3,1,1,1,1,1,4,4,3,3,4,4,4,4,4,4,3,2,1
4,3,2,1,1,1,2,1,5,5,4,1,5,5,5,5,3,5,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,3,7,2,17,16,1,1,122,11,15,9,19,203,245,99,7,31,6,48,2
250,1,1,2,17,16,1,1,140,4,9,1,5,22,246,20,1,5,1,78,1
251,2,2,2,17,16,2,2,133,2,1,6,6,204,247,14,3,6,2,78,2
252,1,1,2,17,16,2,2,145,4,1,4,3,159,248,14,10,9,2,79,1
253,2,2,2,17,16,1,1,29,10,17,6,10,205,249,31,3,4,5,79,2

In [4]:
# x=x.drop("Player Of The Match",axis=1)
x=x.drop("Result",axis=1)
cric_val=x.to_csv("/Users/manikantamsadam/Desktop/cric_val.csv")
x

,Team,Opponent,Format,Ground,Year,Toss,Selection,Run Scored,Wicket Lost,Fours,Sixes,Extras,Run Rate,Avg Bat Strike Rate,Highest Score,Wicket Taken,Given Extras,Highest Individual wicket,Player Of The Match
0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1,2,2,1,1,1,2,2,2,2,2,2,2,2,2,2,2,2,2,1
2,3,1,1,1,1,2,2,3,3,1,3,3,3,3,3,3,3,2,2
3,2,3,1,1,1,1,1,4,4,3,3,4,4,4,4,4,4,3,2
4,3,2,1,1,1,2,1,5,5,4,1,5,5,5,5,3,5,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,3,7,2,17,16,1,1,122,11,15,9,19,203,245,99,7,31,6,48
250,1,1,2,17,16,1,1,140,4,9,1,5,22,246,20,1,5,1,78
251,2,2,2,17,16,2,2,133,2,1,6,6,204,247,14,3,6,2,78
252,1,1,2,17,16,2,2,145,4,1,4,3,159,248,14,10,9,2,79
253,2,2,2,17,16,1,1,29,10,17,6,10,205,249,31,3,4,5,79

In [5]:
y=cric["Result"]
y_test=y.iloc[len(y)-10:]
y=y.iloc[:len(y)-10]
y_test
# print(y)
# print(y_test)

244    1
245    2
246    1
247    2
248    1
249    2
250    1
251    2
252    1
253    2
Name: Result, dtype: object

In [6]:
x=x.ffill()
x_test=x.iloc[len(x)-10:,:]
x=x.iloc[:len(x)-10,:]
x

,Team,Opponent,Format,Ground,Year,Toss,Selection,Run Scored,Wicket Lost,Fours,Sixes,Extras,Run Rate,Avg Bat Strike Rate,Highest Score,Wicket Taken,Given Extras,Highest Individual wicket,Player Of The Match
0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1,2,2,1,1,1,2,2,2,2,2,2,2,2,2,2,2,2,2,1
2,3,1,1,1,1,2,2,3,3,1,3,3,3,3,3,3,3,2,2
3,2,3,1,1,1,1,1,4,4,3,3,4,4,4,4,4,4,3,2
4,3,2,1,1,1,2,1,5,5,4,1,5,5,5,5,3,5,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,1,5,2,1,16,1,1,54,11,6,12,12,194,235,26,3,9,5,73
240,7,1,2,1,16,1,1,57,10,1,9,15,195,236,45,10,5,1,74
241,2,7,2,1,16,2,2,163,10,17,13,6,196,237,23,10,15,1,74
242,3,2,2,17,16,1,1,71,8,17,6,3,197,238,75,1,3,4,75
243,1,3,2,17,16,2,2,164,2,20,6,4,198,239,31,8,4,1,75

In [7]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y)
log_reg=LogisticRegression()
lin_reg=LinearRegression()
regressor = RandomForestRegressor(n_estimators = 100)
lin_reg.fit(xtrain,ytrain)

LinearRegression()

In [8]:
f=True
for i in range(len(x_test)):
    res=np.array([x_test.iloc[i,:]]).reshape(1,-1)
    if f:
        r=np.array([lin_reg.predict(res)])
        f=False
    else:
        r=np.append(r,[lin_reg.predict(res)])
print(np.floor(r))
# print(np.ceil(r))
print(y_test)

[1. 2. 1. 2. 1. 2. 0. 1. 1. 1.]
244    1
245    2
246    1
247    2
248    1
249    2
250    1
251    2
252    1
253    2
Name: Result, dtype: object

/Users/manikantamsadam/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
/Users/manikantamsadam/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
/Users/manikantamsadam/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
/Users/manikantamsadam/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
/Users/manikantamsadam/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
/Users/manikantamsadam/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
/Users/manikantamsadam/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
/Users/manikantamsadam/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
/Users/manikantamsadam/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
/Users/manikantamsadam/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(