In [87]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import plot_confusion_matrix

In [100]:
f=pd.read_csv("data1.csv")
f

    math-1  math-2   phy  chem   sank  grade
0     65.0    58.0  49.0  38.0   88.0    8.4
1     74.0    71.0  58.0  58.0   98.0   10.0
2     65.0    66.0  35.0  45.0   77.0    8.0
3     66.0    69.0  45.0  55.0   95.0    9.4
4     45.0    48.0  55.0  49.0   99.0    8.4
5      0.0     0.0   0.0   0.0    0.0    0.0
6     35.0    29.0  26.0  37.0   55.0    5.6
7     22.0    20.0   9.0   8.0   45.0    3.0
8     30.0    45.0  25.0  35.0   75.0    5.8
9     75.0    25.0  54.0  15.0   67.0    6.6
10    74.0    73.0  12.0  17.0   43.0    6.0
11    25.0    67.0  20.0  60.0  100.0    7.4
12    34.0    23.0  60.0  45.0   73.0    6.8
13    75.0    75.0  60.0  60.0   99.0   10.0
14    74.0     2.0  59.0   2.0   50.0    5.4

In [101]:
x=f.drop("grade",axis=1).copy()
y=f["grade"].copy()

In [103]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y)
lin_reg=LinearRegression()
log_reg=LogisticRegression()
lin_reg.fit(xtrain,ytrain)
# log_reg.fit(xtrain,ytrain)

LinearRegression()

In [105]:
res=np.array([73,5,58,3,60]).reshape(1,-1)#345
print(lin_reg.predict(res))
# print(lin_reg.predict(res))

[5.65241214]

/Users/manikantamsadam/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(